// COLORS //
$color-white: white;
$color-black: black;
$color-green: rgb(81, 180, 72);

// FONT //
$font-lulo-bold: "Lulo Clean One Bold";
$font-avenir-light: "Avenir Light";
$font-avenir-heavy: "Avenir Heavy";

// Header
$header-height: 13.5rem;
