.about {
    background-color: $color-white;
    grid-column: full-start / full-end;
    display: grid;

    grid-template-columns: subgrid;

    &__text {
        grid-column: 2 / 6;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(small-scren) {
            grid-column: 2 / -2;
            justify-self: center;
        }
        &__header {
            width: min-content;
            margin: 3rem 0;
            line-height: 5rem;
            letter-spacing: -4.2px;
        }

        &__paragraph {
            width: 80%;
            margin: 2.5rem 0;
            line-height: 2.55rem;
        }

        & .btn {
            margin: 3rem 0;
        }
    }

    & figure {
        grid-column: 6 / -1;

        @include respond(small-scren) {
            grid-column: 1 / -1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}
