.header {
    background-color: $color-white;
    height: $header-height;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) auto max-content minmax(3rem, 1fr);
    justify-items: center;
    align-items: center;

    &__name-box {
        margin-top: -1.5rem;
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        word-wrap: none;
        align-items: center;
        gap: 1.5rem;
        grid-column: 2 / 3;
        text-align: center;

        & > * {
            cursor: pointer;
        }
    }
}

.navigation {
    margin-top: -2.8rem;
    grid-column: 3 / 4;

    &__item,
    .login-button {
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: $color-green;
        }
    }

    display: flex;

    li {
        display: inline-block;
    }

    &__item {
        padding: 0 1.5rem;
    }
}

.login-button {
    margin-left: 3rem;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        width: 2.2rem;
        height: 2.2rem;
        fill: grey;
        margin-right: 1.2rem;
    }
}
