.header {
    background-color: $color-white;
    height: $header-height;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto max-content 1fr;
    justify-items: center;
    align-items: center;

    &__name-box {
        margin-top: -1.5rem;
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        word-wrap: none;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        grid-column: 2 / 3;
        & > * {
            cursor: pointer;
        }
    }
}

.navigation {
    margin-top: -2.8rem;

    &__button {
        display: none;

        @include respond(big-phone) {
            display: inline-block;
        }
    }

    &__icon {
        display: flex;
        position: relative;
        &,
        &::after,
        &::before {
            content: "";
            background-color: $color-black;
            width: 5rem;
            height: 2px;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -1.3rem;
        }
        &::after {
            top: 1.3rem;
        }
    }

    &__item,
    .login-button {
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: $color-green;
        }
    }

    display: flex;

    li {
        display: inline-block;
    }

    &__item {
        padding: 0 1.5rem;
    }

    & > *:not(&__button) {
        @include respond(big-phone) {
            display: none;
        }
    }
}

.login-button {
    margin-left: 3rem;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        width: 2.2rem;
        height: 2.2rem;
        fill: grey;
        margin-right: 1.2rem;
    }
}
